# SETS
* Sets are used to store multiple itmes in a single variable.

In [1]:
# empty sets 
set = ()
set

()

In [2]:
# set with curley braces 
set1 = {1,2,3,4,5}
set1

{1, 2, 3, 4, 5}

In [4]:
# set function
sets = ([11,22,33,44,55])
sets

[11, 22, 33, 44, 55]

# add()
* adds an element to the sets.if the element already exists , the set remains unchanged.

In [5]:
set1

{1, 2, 3, 4, 5}

In [6]:
set1.add(6)

In [7]:
set1

{1, 2, 3, 4, 5, 6}

# clear()
* it removes all element from the set,leaving it empty.

In [8]:
set1.clear()

In [9]:
set1

set()

# copy()
* it returns a shallow copy of the sets.

In [11]:
set1 = {1,2,3,4,5}

In [12]:
set1

{1, 2, 3, 4, 5}

In [13]:
set1.copy()

{1, 2, 3, 4, 5}

In [14]:
set1

{1, 2, 3, 4, 5}

# difference()
* it returns a new set with elements that are in the set but not in the others.

In [15]:
s1 = {1,2,3}
s2 = {4,3,2}

In [16]:
diff_set = s1.difference(s2)

In [17]:
diff_set

{1}

# difference_update()
* it removes elements from the sets that are also in the other.

In [18]:
s1

{1, 2, 3}

In [20]:
s2

{2, 3, 4}

In [21]:
s1.difference_update(s2)

In [22]:
s1

{1}

# discard()
* it removes an element from the set,if it is a member.if the element is not a member,do nothing.

In [23]:
set1 = {1,2,3,4,5}

In [24]:
set1

{1, 2, 3, 4, 5}

In [26]:
set1.discard(2)

In [27]:
set1

{1, 3, 4, 5}

# intersection()
* it returns a new set with element commin to set and all others

In [30]:
s1 = {1,2,3}
s2 = {4,3,2}

In [31]:
s1.intersection(s2)

{2, 3}

# intersection_update()
* it updates the set,keeping only elements found in it and all others.

In [32]:
s1 = {1,2,3}
s2 = {4,3,2}

In [33]:
s1.intersection_update(s2)

In [34]:
s1

{2, 3}

# Isdisjoint()
* This methods returns true if the set has no elemnts in common with other.if the set and other are disjoint,returns false otherwise.

In [35]:
s1 = {1,2,3}
s2 = {4,3,2}

In [36]:
s1.isdisjoint(s2)

False

# Issubset()
* it returns true  if all elemnts of the sets are in other ,false otherwise.

In [37]:
s1.issubset(s2)

False

# issuperset()
* this method returns true if all elements of other are in the set,false otherwise.

In [39]:
s1.issuperset(s2)

False

# pop()
* It removes and returns an arbitary element from the sets. raises key error if the set is empty.

In [41]:
set1 = {1,2,3,4,5}

In [42]:
set1

{1, 2, 3, 4, 5}

In [43]:
set1.pop()

1

In [44]:
set1

{2, 3, 4, 5}

# symmetric_difference()
* it returns a new set with element in either the set or other but not in both.

In [45]:
s1

{1, 2, 3}

In [46]:
s2

{2, 3, 4}

In [48]:
s1.symmetric_difference(s2)

{1, 4}

# symmetric_differnce_update ()

In [50]:
s1.symmetric_difference_update(s2)

In [51]:
s1

{1, 4}

# union()
* It returns a new set with elements from the set and all others.

In [52]:
s1.union(s2)

{1, 2, 3, 4}

# update()
* This methods update the sets,adding elements from all others.

In [53]:
s1.update(s2)

In [54]:
s1

{1, 2, 3, 4}