# Dictionary

In [5]:
dict = {'name':'yash','age':25,'countary':'india','city':'nagpur'}

In [6]:
dict

{'name': 'yash', 'age': 25, 'countary': 'india', 'city': 'nagpur'}

# clear ()
* This function removes all element from the dictionary.

In [7]:
dict = {'name':'yash','age':25,'countary':'india','city':'nagpur'}

In [8]:
dict

{'name': 'yash', 'age': 25, 'countary': 'india', 'city': 'nagpur'}

In [9]:
dict.clear()

In [10]:
dict

{}

# copy()
* This function returns a shallow copy of the dictionary.

In [11]:
dict = {'name':'yash','age':25,'countary':'india','city':'nagpur'}

In [12]:
dict

{'name': 'yash', 'age': 25, 'countary': 'india', 'city': 'nagpur'}

In [15]:
dict.copy()

{'name': 'yash', 'age': 25, 'countary': 'india', 'city': 'nagpur'}

In [16]:
dict

{'name': 'yash', 'age': 25, 'countary': 'india', 'city': 'nagpur'}

# fromkeys()
* this function creates a new dictionary with keys from seq values set to the value

In [17]:
dict = {'name':'yash','age':25,'countary':'india','city':'nagpur'}

In [18]:
dict2 = {'age'}
dict3 ={'30'}
new_dict = dict.fromkeys(dict2,dict3)
print(new_dict)

{'age': {'30'}}

# get()
* return the value for key if key is in the dictionary , otherwise it return default.

In [19]:
dict = {'name':'yash','age':25,'countary':'india','city':'nagpur'}

In [20]:
dict

{'name': 'yash', 'age': 25, 'countary': 'india', 'city': 'nagpur'}

In [21]:
dict.get('age')

25

# items()
* this method returns a view object that dispalys a list of dictionary key value tuple pairs.

In [22]:
dict.items()

dict_items([('name', 'yash'), ('age', 25), ('countary', 'india'), ('city', 'nagpur')])

# keys()
* Returns a view object that displays a list of all the keys in the dictionary.

In [23]:
dict.keys()

dict_keys(['name', 'age', 'countary', 'city'])

# pop ()
* it removes the specified key and returns the corresponding value.if the key is not found , default is returned if provided,otherwise keyerror is raised.

In [24]:
dict.pop('age')

25

In [25]:
dict

{'name': 'yash', 'countary': 'india', 'city': 'nagpur'}

# popitem()
* it removes and return an arbitrary key value pair from the dictionary. if the dictioanry is empty , a keyerror is raised.

In [26]:
dict = {'name':'yash','age':25,'countary':'india','city':'nagpur'}

In [27]:
item = dict.popitem()

In [28]:
item

('city', 'nagpur')

In [29]:
dict

{'name': 'yash', 'age': 25, 'countary': 'india'}

# setdefault()
* This method returns the value of the specified key.if the key does not exist,insert the key with default value.

In [30]:
dict

{'name': 'yash', 'age': 25, 'countary': 'india'}

In [32]:
value = dict.setdefault('count','aus')

In [33]:
value

'aus'

In [34]:
dict

{'name': 'yash', 'age': 25, 'countary': 'india', 'count': 'aus'}

# update()
* Updates the dictionary with elements from another dictionary object or from an iterable of key value pairs.

In [35]:
dict

{'name': 'yash', 'age': 25, 'countary': 'india', 'count': 'aus'}

In [36]:
dict.update({'count':'us'})

In [37]:
dict

{'name': 'yash', 'age': 25, 'countary': 'india', 'count': 'us'}

# values()
* This method return a view object that displays a list of all the values in the dictioanry.

In [38]:
dict

{'name': 'yash', 'age': 25, 'countary': 'india', 'count': 'us'}

In [39]:
dict.values()

dict_values(['yash', 25, 'india', 'us'])